@model IEnumerable<FlyAwayForSchool.Politique>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Politique")
        </th>
        <th>
            @Html.DisplayName("Réduction appliquée en %")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomPolitique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarificationPolitique)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdPolitique }) |
            @Html.ActionLink("Details", "Details", new {  id=item.IdPolitique  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdPolitique  })
        </td>
    </tr>
}

</table>
