@model FlyAwayForSchool.Vols

@using FlyAwayForSchool.CodeToUse
@{
    ViewBag.Title = "Create";
    var jsonReader = new UseJson();
    Dictionary<string, string> tst = new Dictionary<string, string>();
}

@section css {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/timepicker")
    @Styles.Render("~/Content/datetimepicker")
    @Styles.Render("~/Content/clockpicker")
}
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vols</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Depart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Depart, @jsonReader.Retourne(), "Select")
                @Html.ValidationMessageFor(model => model.Depart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Arrivee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Arrivee, @jsonReader.Retourne(), "Select")
                @Html.ValidationMessageFor(model => model.Arrivee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateDepart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateDepart, new { htmlAttributes = new { @class = "form-control datepicker " } })
                @Html.ValidationMessageFor(model => model.DateDepart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateArrivee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateArrivee, new { htmlAttributes = new { @class = "form-control datepicker " } })
                @Html.ValidationMessageFor(model => model.DateArrivee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control" } })
                @*Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "form-control" } })
                @*Html.ValidationMessageFor(model => model.Prix, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeureDepart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeureDepart, new { htmlAttributes = new { @class = "form-control clockpicker" } })
                @Html.ValidationMessageFor(model => model.HeureDepart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeureArrivee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeureArrivee, new { htmlAttributes = new { @class = "form-control clockpicker " } })
                @Html.ValidationMessageFor(model => model.HeureArrivee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/clockpicker")
    <script type="text/javascript">

        $(function () {
            $('.datepicker').datepicker({ format: 'dd-mm-yyyy', startDate: '-3d',autoclose: 'true', clearBtn:true, langage:'fr' });
            //$('.datetimepicker').datetimepicker({ format: "dd MM yyyy - hh:ii" });
            //$('.timepicker').timepicker();
            $('.clockpicker').clockpicker({
                autoclose: true
            });
        });


    </script>
}

