@model IEnumerable<FlyAwayForSchool.Reservations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id Reservation")
        </th>
        <th>
            @Html.DisplayName("Date Reservation")
        </th>
        <th>
            @Html.DisplayName("Tarif (en €)")
        </th>
        <th>
            @Html.DisplayName("Id Vol")
        </th>
        <th>
            @Html.DisplayName("Client mail")
        </th>
        <th>
            @Html.DisplayName("Reservation Validée")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVol)
            </td>

            <td>
                @Html.DisplayFor(modelItem =>item.UserMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Validation)
            </td>
 
            <td>
                @Html.ActionLink("Validation", "ValiderReservation", new { id = item.IdReservation }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.IdReservation }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdVol }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdReservation })
            </td>
        </tr>
    }

</table>
